<!-- <section class="tc mw6-l center" id="filter"> -->
    <div class="f6 f4-m f6-l cf dib mb4 tc mt2 sans-serif">
        <a class="fl bg-white hover-bg-navy hover-white link bb bt bl pa2 ph3 dib b--navy br2 br--left bl border-box navy filter-active"
            onclick="showAll();">
            All </a>
        <a class="fl bg-white hover-bg-navy hover-white b--navy link bb bt bl pa2 ph3 dib navy" onclick="showTasks();">
            Tasks </a>
        <a class="fl bg-white hover-bg-navy hover-white b--navy link ba pa2 ph3 dib navy" onclick="showStatus();">
            Status </a>
        <a class="fl  bg-white hover-bg-navy hover-white b--navy link bb bt pa2 ph3 dib navy br2 br--right br"
            onclick="showReplies();">
            Replies </a>
    </div>
<!-- </section> -->