<!-- <section class="tc mw6-l center" id="filter"> -->
<div class="f5 f6-l cf dib mb4 tc mt2 sans-serif" id="toggle">
  <a
    class="fl bg-white hover-bg-navy hover-white link bb bt bl pa1 ph2 pa2-ns ph3-ns dib b--navy br2 br--left bl border-box navy filter-active"
    onclick="showPitches();"
  >
    Pitches
  </a>
  <a
    class="fl bg-white hover-bg-navy hover-white b--navy link ba pa1 ph2 pa2-ns ph3-ns dib navy"
    onclick="showOffers();"
  >
    Pending
  </a>
  <!-- <a
    class="fl bg-white hover-bg-navy hover-white b--navy link bt bb br pa1 ph2 pa2-ns ph3-l dib navy"
    onclick="showOffers();"
  >
    In Review
  </a> -->
  <a
    class="fl  bg-white hover-bg-navy hover-white b--navy link bb bt pa1 ph2 pa2-ns ph3-ns dib navy br2 br--right br"
    onclick="showFunds();"
  >
  Offers
  </a>
</div>
<!-- </section> -->
