<section
    class="w-100 fixed left-0 mw6-ns bottom-0 center z-5 v-mid ml5 mb7-ns mr2-ns db pa4 pa6-ns ph4-l bb bt b--black-10 fixed bg-white shadow border-box">
    <span class="f7 f6-ns db dtc-l v-mid mid-gray link w-25-l tc mv3">
        Piwalo requires access your location. <a class="navy" href="faq.html">Learn more here</a>.
    </span>

    <a class="tc shadow f7 f6-ns fw7 no-underline grow db v-mid bg-navy white ba b--black-60 br-pill ph2 ph4-ns pv2 mv3 w5 center"
        onclick="dismiss();">
        Accept and close
    </a>
</section>
