<article class="fixed top-0 vh-100 dt w-100 bg-white-90 z-max">
  <div class="dtc v-mid tc ph3 ph4-l">
    
    <div class="ba b--black-10 shadow bg-white br2 mw6-ns pa4 center">
    <span class="f7 f6-ns db dtc-l v-mid mid-gray link w-25-l tc mv3"> 
 
            <i data-feather="frown" class="w2 h2 mv3 center navy db tc v-mid"></i>
      Sorry, this pitch isn't available in your location.
      <!-- <a class="navy" href="faq.html">Learn more here</a>. -->

          <a class="tc bb--w2 no-underline w-auto dim db v-mid black-50 bn b--navy br2 ph2 ph3-ns pv2 mv2" onclick="dismiss();">
            Dismiss
          </a>
    </span>

    </div>
  </div>
</article>
