<dt class="f5 b mv3 mt2 sans-serif">Description</dt>
<dd class="f5 lh-copy measure ml0 mt0-ns mb4">
    I can pick up your groceries from any shop in Clonmel and
    deliver them to your door.
</dd>
<dt class="f5 b mv3 sans-serif">Media (4)</dt>
<dd class="z-1 cf mv2 mh0 mb4 measure siema">
    <div class="fl w-100">
        <div class="aspect-ratio aspect-ratio--7x5 mr2">
            <div class="aspect-ratio--object cover z-1"
                style="background:url(../etta/assets/exampleService1.jpg) center;"></div>
        </div>
    </div>
    <div class="fl w-100">
        <div class="aspect-ratio aspect-ratio--7x5 mr2">
            <div class="aspect-ratio--object cover z-1" style="background:url(../etta/assets/placeholder.png) center;">
            </div>
        </div>
    </div>
    <div class="fl w-100">
        <div class="aspect-ratio aspect-ratio--7x5 mr2">
            <div class="aspect-ratio--object cover z-1" style="background:url(../etta/assets/placeholder.png) center;">
            </div>
        </div>
    </div>
    <div class="fl w-100">
        <div class="aspect-ratio aspect-ratio--7x5 mr2">
            <div class="aspect-ratio--object cover z-1" style="background:url(../etta/assets/placeholder.png) center;">
            </div>
        </div>
    </div>
</dd>
<dt class="f5 b mb3 mt4 sans-serif">Terms and Conditions</dt>
<dd class="f5 lh-copy ml0 mt0-ns mb3 measure">
    Promotional value expires 180 days after purchase. Amount paid
    never expires. Customer must provide paint. Valid within Cook,
    Will, and Kankakee Counties, excluding 60426 and 60419. Valid
    for all room sizes. Reservation required. Limit 1 per person.
    May be repurchased every 30 days. Valid only for option
    purchased. Merchant's standard cancellation policy applies (any
    fees not to exceed voucher price). Merchant is solely
    responsible to purchasers for the care and quality of the
    advertised goods and services.
</dd>