<!-- PANELS FEED: PITCHES -->
<section
  class="cf pv0 pv3-l flex flex-column flex-row-l items-top justify-between-l slider1"
>
<article
class="z-1 bg-white ba b--black-60 shadow fl mw6 mw9-m center tc ma2 ma3-l ba b--dashed br1 relative"
>
<div class="pv2 ph3">
  <h1 class="fw4 f6 ttu tracked">
    <i data-feather="feather" class="f6 f5-ns v-mid"></i> Service Pitch
  </h1>
</div>
<aside class="mv1 tc f6 f5-ns">
  <small class="dib pa2">
    <i data-feather="book-open" class="f6 f4-ns v-mid"></i>
    <a class="link navy dim" href="category-single.html">Home &amp; DIY</a>
  </small>

  <small class="dib pa2">
    <i data-feather="eye" class="f6 f4-ns v-mid"></i> 194 views
  </small>

  <small class="dib pa2 grow">
      <i data-feather="heart" class="f6 f4-ns v-mid"></i> 34 saves
  </small>

</aside>


<div class="pa3 tl cf measure">
  <a class="fw6 navy link lh-title">
    Professional Painting Services
  </a>
  <p class="lh-copy f6 f5-m serif">
    Painting crew preps and paints home interior, home exterior, garage,
    deck or gazebo
  </p>
  <small class="mb5 db pt1 pb2"
    >Pitched by
    <img
    src="../etta/assets/user-avatar.png"
    class="relative dib v-mid w1 h1 pa1 br-100"
    alt="User Avatar"
  />
  <a class="link navy fw6" href="profile.html"
    >Sarah</a
  > -
    <time>6 hours ago</time>
  </small>
</div>
<span
  class="cf absolute grow bottom-0 tc cf db w-100 f6 f5-m fw7 no-underline bg-white-05 navy pv3 mt4"
>
<span class="">Save </span>
</span>
</article>
<article
class="z-1 bg-white ba b--black-60 shadow fl mw6 mw9-m center tc ma2 ma3-l ba b--dashed br1 relative"
>
<div class="pv2 ph3">
  <h1 class="fw4 f6 ttu tracked">
    <i data-feather="feather" class="f6 f5-ns v-mid"></i> Service Pitch
  </h1>
</div>
<aside class="mv1 tc f6 f5-ns">
  <small class="dib pa2">
    <i data-feather="book-open" class="f6 f4-ns v-mid"></i>
    <a class="link navy dim" href="category-single.html">Home &amp; DIY</a>
  </small>

  <small class="dib pa2">
    <i data-feather="eye" class="f6 f4-ns v-mid"></i> 194 views
  </small>

  <small class="dib pa2 grow">
      <i data-feather="heart" class="f6 f4-ns v-mid" style="fill: red;"></i> 34 saves
  </small>

</aside>


<div class="pa3 tl cf measure">
  <a class="fw6 navy link lh-title">
    Professional Painting Services
  </a>
  <p class="lh-copy f6 f5-m serif">
    Painting crew preps and paints home interior, home exterior, garage,
    deck or gazebo
  </p>
  <small class="mb5 db pt1 pb2"
    >Pitched by
    <img
    src="../etta/assets/user-avatar.png"
    class="relative dib v-mid w1 h1 pa1 br-100"
    alt="User Avatar"
  />
  <a class="link navy fw6" href="profile.html"
    >Sarah</a
  > -
    <time>6 hours ago</time>
  </small>
</div>
<span
  class="cf absolute grow bottom-0 tc cf db w-100 f6 f5-m fw7 no-underline bg-white-05 navy pv3 mt4"
>
<span class="i">Saved! </span>
</span>
</article>
</section>

<section
  class="cf pv0 pv3-l flex flex-column flex-row-l items-top justify-between-l slider2"
>
<article
class="z-1 bg-white ba b--black-60 shadow fl mw6 mw9-m center tc ma2 ma3-l ba b--dashed br1 relative"
>
<div class="pv2 ph3">
  <h1 class="fw4 f6 ttu tracked">
    <i data-feather="feather" class="f6 f5-ns v-mid"></i> Service Pitch
  </h1>
</div>
<aside class="mv1 tc f6 f5-ns">
  <small class="dib pa2">
    <i data-feather="book-open" class="f6 f4-ns v-mid"></i>
    <a class="link navy dim" href="category-single.html">Home &amp; DIY</a>
  </small>

  <small class="dib pa2">
    <i data-feather="eye" class="f6 f4-ns v-mid"></i> 194 views
  </small>

  <small class="dib pa2 grow">
      <i data-feather="heart" class="f6 f4-ns v-mid" style="fill: red;"></i> 34 saves
  </small>

</aside>


<div class="pa3 tl cf measure">
  <a class="fw6 navy link lh-title">
    Professional Painting Services
  </a>
  <p class="lh-copy f6 f5-m serif">
    Painting crew preps and paints home interior, home exterior, garage,
    deck or gazebo
  </p>
  <small class="mb5 db pt1 pb2"
    >Pitched by
    <img
    src="../etta/assets/user-avatar.png"
    class="relative dib v-mid w1 h1 pa1 br-100"
    alt="User Avatar"
  />
  <a class="link navy fw6" href="profile.html"
    >Sarah</a
  > -
    <time>6 hours ago</time>
  </small>
</div>
<span
  class="cf absolute grow bottom-0 tc cf db w-100 f6 f5-m fw7 no-underline bg-white-05 navy pv3 mt4"
>
<span class="i">Saved! </span>
</span>
</article>
<article
class="z-1 bg-white ba b--black-60 shadow fl mw6 mw9-m center tc ma2 ma3-l ba b--dashed br1 relative"
>
<div class="pv2 ph3">
  <h1 class="fw4 f6 ttu tracked">
    <i data-feather="feather" class="f6 f5-ns v-mid"></i> Service Pitch
  </h1>
</div>
<aside class="mv1 tc f6 f5-ns">
  <small class="dib pa2">
    <i data-feather="book-open" class="f6 f4-ns v-mid"></i>
    <a class="link navy dim" href="category-single.html">Home &amp; DIY</a>
  </small>

  <small class="dib pa2">
    <i data-feather="eye" class="f6 f4-ns v-mid"></i> 194 views
  </small>

  <small class="dib pa2 grow">
      <i data-feather="heart" class="f6 f4-ns v-mid"></i> 34 saves
  </small>

</aside>


<div class="pa3 tl cf measure">
  <a class="fw6 navy link lh-title">
    Professional Painting Services
  </a>
  <p class="lh-copy f6 f5-m serif">
    Painting crew preps and paints home interior, home exterior, garage,
    deck or gazebo
  </p>
  <small class="mb5 db pt1 pb2"
    >Pitched by
    <img
    src="../etta/assets/user-avatar.png"
    class="relative dib v-mid w1 h1 pa1 br-100"
    alt="User Avatar"
  />
  <a class="link navy fw6" href="profile.html"
    >Sarah</a
  > -
    <time>6 hours ago</time>
  </small>
</div>
<span
  class="cf absolute grow bottom-0 tc cf db w-100 f6 f5-m fw7 no-underline bg-white-05 navy pv3 mt4"
>
<span class="">Save</span>
</span>
</article>
</section>
