<dl class="lh-title mt4 f5 lh-copy measure bl pl2">
    <dt class=" b mt2 sans-serif">Timeline item</dt>
    <dd class="ml0 f6">
        Timeline description
        <time class="pl2">Time</time>
    </dd>
</dl>
<dl class="lh-title mt0 f5 lh-copy measure bl bw2 pl2">
    <dt class="f4 b mt2 sans-serif">
        <i data-feather="flag" class="h1 w1 v-mid"></i> Milestone item
    </dt>
    <dd class="ml0 f6 ">
        Timeline description
        <time class="pl2">Time</time>
    </dd>
</dl>
<dl class="lh-title mt0 f5 lh-copy measure bl pl2">
    <dt class="b mt2 sans-serif">Timeline item</dt>
    <dd class="ml0 f6">
        Timeline description
        <time class="pl2">Time</time>
    </dd>
</dl>