<article class="ba b--black-10 ph2 pv3">
  <dt class="b sans-serif">Topic</dt>
  <dd class="ml0">
    Aenean quis nisi felis. Curabitur imperdiet placerat, eget condimentum dui
    lobortis quis.
  </dd>

  <article class="ml2 ph1 pv2">
    <dt class="b sans-serif">
      <i data-feather="corner-down-right" class="h1 w1 v-mid"></i>
      reply
    </dt>
    <dd class="ml0">
      Aenean quis nisi felis. Curabitur imperdiet placerat, eget condimentum dui
      lobortis quis.
    </dd>

    <article class="ml2 ph1 pv2">
      <dt class="b sans-serif">
        <i data-feather="corner-down-right" class="h1 w1 v-mid"></i>
        reply
      </dt>
      <dd class="ml0">
        Aenean quis nisi felis. Curabitur imperdiet placerat, eget condimentum
        dui lobortis quis.
      </dd>
    </article>
  </article>
</article>
