<dl class="lh-title mt4 f5 lh-copy measure bl pl2">
    <dt class=" b mt2 sans-serif">Description updated</dt>
    <dd class="ml0 f6">
            <a class="link navy" href="vendor-single.html" title="Go to Vendor page">
                    <img src="../etta/assets/vendor-avatar-6.png" class="dib w1 h1 br-100 v-mid" alt="Vendor logo"> Marie
                    </a>
        <time class="pl2">22 mins ago</time>
    </dd>
</dl>
<dl class="lh-title mt0 f5 lh-copy measure bl bw2 pl2">
    <dt class="f4 b mt2 sans-serif">
        <i data-feather="clock" class="h1 w1 v-mid"></i> Negotiation period: 5 days
    </dt>
    <dd class="ml0 f6 ">
            <a class="link navy" href="vendor-single.html" title="Go to Vendor page">
                    <img src="../etta/assets/vendor-avatar-6.png" class="dib w1 h1 br-100 v-mid" alt="Vendor logo"> Marie
                    </a>
        <time class="pl2">1 hour ago</time>
    </dd>
</dl>
<dl class="lh-title mt0 f5 lh-copy measure bl pl2">
    <dt class="b mt2 sans-serif"><i data-feather="message-square" class="h1 w1 v-mid"></i> Topic added </dt>
    <dd class="ml0 f6">
            <a class="link navy" href="user-profile.html" title="Go to Member profile">
                    <img src="../etta/assets/user-avatar.png" class="dib w1 h1 br-100 v-mid" alt="Member avatar"> Sarah
                    </a>
        <time class="pl2">2 hours ago</time>
    </dd>
</dl>