<article class="ba b--black-10 ph2 pv3">
  <dt class="b sans-serif">
      <a class="link navy" href="user-profile.html" title="Go to Member profile">
          <img src="../etta/assets/user-avatar.png" class="dib w2 h2 br-100 v-mid" alt="Member avatar"> Sarah
          </a>
          </dt>
  <dd class="ml0">
      What other therapies would you offer?
  </dd>

  <article class="ml2 ph1 pv2">
    <dt class="b sans-serif">
      <i data-feather="corner-down-right" class="h1 w1 v-mid"></i>
      <a class="link navy" href="vendor-single.html" title="Go to Vendor page">
          <img src="../etta/assets/vendor-avatar-6.png" class="dib w2 h2 br-100 v-mid" alt="Vendor logo"> Marie
          </a>
    </dt>
    <dd class="ml0">
        I can offer reflexology, acupuncture and Reiki. 
    </dd>
  </article>
</article>

