<dl class="db mw9 center flex flex-column flex-row-l items-center-l">
  <dd class="f5 lh-copy ma2 w-100 w-40-l dib border-box">
    <form class="pv2">
      <fieldset
        id="tier"
        class="ml0 pl0 shadow f7 f6-ns fw7 no-underline grow dib dtc v-mid navy ba b--black-60 br1 pa2 ph3 pa3-m pa4-l mb3"
      >
        <legend class="fw7 mb2 ttu tracked">
          <i data-feather="users" class="f1 dib v-mid center ma2"></i> Group
          Offers
        </legend>
        <div class="mb2">
          <label for="tier-1" class="lh-copy">
            <a href="#0" class="navy link b bb">Personal Grocery Shopper</a>
            <i data-feather="unlock" class="f1 dib v-mid center ma2"></i> 2
          </label>
        </div>
        <aside class="mr4 mw6-l">
          <div class="bg-moon-gray br-pill h1 overflow-y-hidden mh0 mv3 mr4">
            <div class="bg-pink br-pill h1 shadow-1 w-100"></div>
          </div>
        </aside>
        <div class=" mb2">
          <label for="tier-2" class="lh-copy">
            <a href="#0" class="navy link b bb">Gardening services</a>
            <i data-feather="unlock" class="f1 dib v-mid center ma2"></i> 2
          </label>
        </div>
        <aside class="mr4 mw6-l">
          <div class="bg-moon-gray br-pill h1 overflow-y-hidden mh0 mv3 mr4">
            <div class="bg-pink br-pill h1 shadow-1 w-75"></div>
          </div>
        </aside>
        <div class=" mb2">
          <label for="tier-3" class="lh-copy">
            <a href="#0" class="navy link b bb">Lawn mowing</a>
            <i data-feather="unlock" class="f1 dib v-mid center ma2"></i> 2
          </label>
        </div>
        <aside class="mr4 mw6-l">
          <div class="bg-moon-gray br-pill h1 overflow-y-hidden mh0 mv3 mr4">
            <div class="bg-pink br-pill h1 shadow-1 w-10"></div>
          </div>
        </aside>
      </fieldset>
    </form>
  </dd>
  <dd class="f5 lh-copy ma2 w-100 w-50-l dib border-box">
    <form class="pv2">
      <fieldset
        id="tier"
        class="ml0 pl0 shadow f7 f6-ns fw7 no-underline dib dtc v-mid navy ba b--black-60 br1 pa2 ph3 pa3-m pv4-l mb3"
      >
        <legend class="fw7 mb2 ttu tracked">
          <i data-feather="paperclip" class="f1 dib v-mid center ma2"></i>
          Customer Details
        </legend>
        <div class="overflow-auto">
          <table class="f7 f6-ns w-100" cellspacing="0">
            <thead>
              <tr class="stripe-dark">
                <th class="fw6 tl pa2 pa3-ns bg-white">Name</th>
                <th class="fw6 tl pa2 pa3-ns bg-white">Address</th>
              </tr>
            </thead>
            <tbody class="lh-copy fw3 serif">
              <tr class="stripe-dark">
                <td class="pa2 pa3-ns">Marie Aylward</td>
                <td class="pa2 pa3-ns"><a
                  class="f7 tc bb--w2 no-underline w-auto dim dib v-mid navy ba b--navy br2 ph2 ph3-ns pv2 sans-serif"
                >
                  <i data-feather="map-pin" class="v-mid w1 h1"></i> View co-ordinates
                </a></td>
                <td class="pa2 pa3-ns">
                  <a
                    class="f7 tc bb--w2 no-underline w-auto dim dib v-mid navy ba b--navy br2 ph2 ph3-ns pv2 sans-serif"
                  >
                    <i data-feather="phone" class="v-mid w1 h1"></i> Contact
                  </a>
                </td>
              </tr>
              <tr class="stripe-dark">
                <td class="pa2 pa3-ns">John O'Dwyer</td>
                <td class="pa2 pa3-ns"><a
                  class="f7 tc bb--w2 no-underline w-auto dim dib v-mid navy ba b--navy br2 ph2 ph3-ns pv2 sans-serif"
                >
                  <i data-feather="map-pin" class="v-mid w1 h1"></i> View co-ordinates
                </a></td>
                <td class="pa2 pa3-ns">
                  <a
                    class="f7 tc bb--w2 no-underline w-auto dim dib v-mid navy ba b--navy br2 ph2 ph3-ns pv2 sans-serif"
                  >
                    <i data-feather="phone" class="v-mid w1 h1"></i> Contact
                  </a>
                </td>
              </tr>
              <tr class="stripe-dark">
                <td class="pa2 pa3-ns">Sarah Geraghty</td>
                <td class="pa2 pa3-ns"><a
                  class="f7 tc bb--w2 no-underline w-auto dim dib v-mid navy ba b--navy br2 ph2 ph3-ns pv2 sans-serif"
                >
                  <i data-feather="map-pin" class="v-mid w1 h1"></i> View co-ordinates
                </a></td>
                <td class="pa2 pa3-ns">
                  <a
                    class="f7 tc bb--w2 no-underline w-auto dim dib v-mid navy ba b--navy br2 ph2 ph3-ns pv2 sans-serif"
                  >
                    <i data-feather="phone" class="v-mid w1 h1"></i> Contact
                  </a>
                </td>
              </tr>
              <tr class="stripe-dark">
                <td class="pa2 pa3-ns">Sorcha Breen</td>
                <td class="pa2 pa3-ns"><a
                  class="f7 tc bb--w2 no-underline w-auto dim dib v-mid navy ba b--navy br2 ph2 ph3-ns pv2 sans-serif"
                >
                  <i data-feather="map-pin" class="v-mid w1 h1"></i> View co-ordinates
                </a></td>
                <td class="pa2 pa3-ns">
                  <a
                    class="f7 tc bb--w2 no-underline w-auto dim dib v-mid navy ba b--navy br2 ph2 ph3-ns pv2 sans-serif"
                  >
                    <i data-feather="phone" class="v-mid w1 h1"></i> Contact
                  </a>
                </td>
              </tr>
              <tr class="stripe-dark">
                <td class="pa2 pa3-ns">Dean Burke</td>
                <td class="pa2 pa3-ns"><a
                  class="f7 tc bb--w2 no-underline w-auto dim dib v-mid navy ba b--navy br2 ph2 ph3-ns pv2 sans-serif"
                >
                  <i data-feather="map-pin" class="v-mid w1 h1"></i> View co-ordinates
                </a></td>
                <td class="pa2 pa3-ns">
                  <a
                    class="f7 tc bb--w2 no-underline w-auto dim dib v-mid navy ba b--navy br2 ph2 ph3-ns pv2 sans-serif"
                  >
                    <i data-feather="phone" class="v-mid w1 h1"></i> Contact
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </fieldset>
    </form>
  </dd>
</dl>
