<dl class="db mw9 center flex flex-column flex-row-l items-center-l">
    <dd class="f5 lh-copy ma2 w-100 w-40-l dib border-box">
        <form class="pv2">
          <fieldset id="tier" class="ml0 pl0 shadow f7 f6-ns fw7 no-underline grow dib dtc v-mid navy ba b--black-60 b--dashed br1 pa2 ph3 pa3-m pa4-l mb3">
            <legend class="fw7 mb2 ttu tracked"> <i data-feather="truck" class="f1 dib v-mid center ma2"></i> Current Pitches</legend>
            <div class="mb2">
              <label for="tier-1" class="lh-copy">
                <a href="#0" class="navy link b bb">Personal Grocery Shopper</a> 
                <div class="v-mid dib pv1 ph2 ma1 fw4 f7 ttu tracked blue ba">Community call</div>
              </label>
            </div>
            <aside class="mr4 mw6-l">
              <div class="bg-moon-gray br-pill h1 overflow-y-hidden mh0 mv3 mr4">
                <div class="bg-navy br-pill h1 shadow-1 w-100"></div>
              </div>
            </aside>
            <div class=" mb2">
              <label for="tier-2" class="lh-copy">
                <a href="#0" class="navy link b bb">Gardening services</a> 
                <div class="v-mid dib pv1 ph2 ma1 fw4 f7 ttu tracked green ba">Seeking support</div>
              </label>
            </div>
            <aside class="mr4 mw6-l">
              <div class="bg-moon-gray br-pill h1 overflow-y-hidden mh0 mv3 mr4">
                <div class="bg-navy br-pill h1 shadow-1 w-75"></div>
              </div>
            </aside>
            <div class=" mb2">
              <label for="tier-3" class="lh-copy">
                  <a href="#0" class="navy link b bb">Lawn mowing</a>
                  <div class="v-mid dib pv1 ph2 ma1 fw4 f7 ttu tracked yellow ba">Stale</div>
              </label>
            </div>
            <aside class="mr4 mw6-l">
              <div class="bg-moon-gray br-pill h1 overflow-y-hidden mh0 mv3 mr4">
                  <div class="bg-navy br-pill h1 shadow-1 w-10"></div>
              </div>
            </aside>
          </fieldset>
        </form>
      </dd>
      <dd class="f5 lh-copy ma2 w-100 w-50-l dib border-box">
          <form class="pv2">
            <fieldset id="tier" class="ml0 pl0 shadow f7 f6-ns fw7 no-underline dib dtc v-mid navy ba b--black-60 br1 pa2 ph3 pa3-ns pv4-l mb3">
              <legend class="fw7 mb2 ttu tracked"><i data-feather="paperclip" class="f1 dib v-mid center ma2"></i> Summary</legend>

              <dl class="db dib-l w-auto-l lh-title mr6-l">
                <dd class="f6 fw4 ml0">Total views</dd>
                <dd class="f3 f2-l fw6 ml0">
                    <i data-feather="eye" class="ml0 w1 h1 w2-l h2-l pl0 v-mid"></i> 2326
                </dd>
              </dl>
              <dl class="db dib-l w-auto-l lh-title mr6-l">
                <dd class="f6 fw4 ml0">Total shares</dd>
                <dd class="f3 f2-l fw6 ml0">
                  <!-- <a href="stats.html" class="link navy bb bw2 b--pink">
                    <i
                      data-feather="arrow-down-left"
                      class="ml0 w1 h1 w2-l h2-l pl0 v-mid"
                    ></i>
                  </a> -->
                  <i
                  data-feather="share-2"
                  class="ml0 w1 h1 w2-l h2-l pl0 v-mid"
                ></i>
                  49
                </dd>
              </dl>
              <dl class="db dib-l w-auto-l lh-title mr6-l">
                  <dd class="f6 fw4 ml0">Total interested</dd>
                  <dd class="f3 f2-l fw6 ml0">
                    <!-- <a href="stats.html" class="link navy bb bw2 b--pink">
                      <i
                        data-feather="arrow-down-left"
                        class="ml0 w1 h1 w2-l h2-l pl0 v-mid"
                      ></i>
                    </a> -->
                    <i
                    data-feather="heart"
                    class="ml0 w1 h1 w2-l h2-l pl0 v-mid" style="fill:red;"
                  ></i>
                    78
                  </dd>
                </dl>

              <!-- <dl class="db dib-l w-auto-l lh-title mr6-l">
                <dd class="f6 fw4 ml0">Days Left</dd>
                <dd class="f3 f2-l fw6 ml0">4</dd>
              </dl> -->
              <dl class="db dib-l w-auto-l lh-title mr6-l">
                <dd class="f6 fw4 ml0">Pending Review</dd>
                <dd class="f3 f2-l fw6 ml0">
                  <a href="offer-single.html" class="link navy bb bw2 b--green"
                    >Personal Grocery Shopper</a
                  >
                </dd>
              </dl>
              <dl class="db dib-l w-auto-l lh-title">
                <dd class="f6 fw4 ml0">Expires today</dd>
                <dd class="f3 f2-l fw6 ml0">
                  <a href="fund-single.html" class="link navy bb bw2 b--yellow"
                    >Lawn mowing</a
                  >
                </dd>
              </dl>

            </fieldset>
          </form>
        </dd>
        </dl>
