<!-- PANELS FEED: PITCHES -->
<section
  class="cf pt3 pb0 pb3-l flex flex-column flex-row-l items-top justify-between-l slider1"
>
<article
class="z-1 bg-white ba b--black-60 shadow fl mw6 mw9-m center tc ma2 ma3-l ba b--dashed br1 relative"
>
<div class="pv2 ph3">
  <h1 class="fw4 f6 ttu tracked">
    <i data-feather="feather" class="f6 f5-ns v-mid"></i> Service Pitch
  </h1>
</div>
<aside class="mv1 tc f6 f5-ns">
  <small class="dib pa2">
    <i data-feather="book-open" class="f6 f4-ns v-mid"></i>
    <a class="link navy dim" href="category-single.html">Home Services</a>
  </small>

  <small class="dib pa2">
    <i data-feather="heart" class="grow f6 green f4-ns v-mid"></i> 8 saves, including you
  </small>
</aside>

<div class="pa3 tl cf measure">
  <a href="pitch-single.html" class="fw6 navy link dim lh-title">
    Moving and Packing Services
  </a>
  <p class="lh-copy f6 f5-m serif">
    Help with load and pack or unload and unpack boxes and possessions
  </p>
  <small class="mb5 db pt1 pb2"
    >Pitched by  <i
    data-feather="lock"
    class="bg-transparent navy w1 h1 v-mid"
    title="Private Account"
  ></i> <span class="i">AP</span> -
    <time>6 hours ago</time>
  </small>
</div>

<a
  class="cf absolute bottom-0 tc cf db w-100 f6 f5-m fw7 no-underline bg-black-05 navy ph4 pv3 mt4"
  href="pitch-single.html"
>
  More details
</a>
</article>

<article
class="z-1 bg-white ba b--black-60 shadow fl mw6 mw9-m center tc ma2 ma3-l ba b--dashed br1 relative"
>
<div class="pv2 ph3">
  <h1 class="fw4 f6 ttu tracked">
    <i data-feather="feather" class="f6 f5-ns v-mid"></i> Service Pitch
  </h1>
</div>
<!-- <div class="aspect-ratio aspect-ratio--16x9 mb3">
          <div class="aspect-ratio--object cover" style="background-color:transparent; background-position: center;">
          </div>
      </div> -->
<aside class="mv1 tc f6 f5-ns">
  <small class="dib pa2">
    <i data-feather="book-open" class="f6 f4-ns v-mid"></i>
    <a class="link navy dim" href="category-single.html">Home Services</a>
  </small>

  <small class="dib pa2">
    <i data-feather="heart" class="grow f6 f4-ns v-mid"></i> 33 saves
  </small>
</aside>

<div class="pa3 tl cf measure">
  <a href="pitch-single.html" class="fw6 navy link dim lh-title">
    Moving and Packing Services
  </a>
  <p class="lh-copy f6 f5-m serif">
    Help with load and pack or unload and unpack boxes and possessions
  </p>
  <small class="mb5 db pt1 pb2"
    >Pitched by  <i
    data-feather="lock"
    class="bg-transparent navy w1 h1 v-mid"
    title="Private Account"
  ></i> <span class="i">AP</span> -
    <time>6 hours ago</time>
  </small>
</div>

<a
  class="cf absolute bottom-0 tc cf db w-100 f6 f5-m fw7 no-underline bg-black-05 navy ph4 pv3 mt4"
  href="pitch-single.html"
>
  More details
</a>
</article>
</section>

<section
  class="cf pt3 pb0 pb3-l flex flex-column flex-row-l items-top justify-between-l slider2"
>
<article
class="z-1 bg-white ba b--black-60 shadow fl mw6 mw9-m center tc ma2 ma3-l ba b--dashed br1 relative"
>
<div class="pv2 ph3">
  <h1 class="fw4 f6 ttu tracked">
    <i data-feather="feather" class="f6 f5-ns v-mid"></i> Service Pitch
  </h1>
</div>
<aside class="mv1 tc f6 f5-ns">
  <small class="dib pa2">
    <i data-feather="book-open" class="f6 f4-ns v-mid"></i>
    <a class="link navy dim" href="category-single.html">Home Services</a>
  </small>

  <small class="dib pa2">
    <i data-feather="heart" class="grow f6 green f4-ns v-mid"></i> 8 saves, including you
  </small>
</aside>

<div class="pa3 tl cf measure">
  <a href="pitch-single.html" class="fw6 navy link dim lh-title">
    Moving and Packing Services
  </a>
  <p class="lh-copy f6 f5-m serif">
    Help with load and pack or unload and unpack boxes and possessions
  </p>
  <small class="mb5 db pt1 pb2"
    >Pitched by  <i
    data-feather="lock"
    class="bg-transparent navy w1 h1 v-mid"
    title="Private Account"
  ></i> <span class="i">AP</span> -
    <time>6 hours ago</time>
  </small>
</div>

<a
  class="cf absolute bottom-0 tc cf db w-100 f6 f5-m fw7 no-underline bg-black-05 navy ph4 pv3 mt4"
  href="pitch-single.html"
>
  More details
</a>
</article>

<article
class="z-1 bg-white ba b--black-60 shadow fl mw6 mw9-m center tc ma2 ma3-l ba b--dashed br1 relative"
>
<div class="pv2 ph3">
  <h1 class="fw4 f6 ttu tracked">
    <i data-feather="feather" class="f6 f5-ns v-mid"></i> Service Pitch
  </h1>
</div>
<!-- <div class="aspect-ratio aspect-ratio--16x9 mb3">
          <div class="aspect-ratio--object cover" style="background-color:transparent; background-position: center;">
          </div>
      </div> -->
<aside class="mv1 tc f6 f5-ns">
  <small class="dib pa2">
    <i data-feather="book-open" class="f6 f4-ns v-mid"></i>
    <a class="link navy dim" href="category-single.html">Home Services</a>
  </small>

  <small class="dib pa2">
    <i data-feather="heart" class="grow f6 f4-ns v-mid"></i> 33 saves
  </small>
</aside>

<div class="pa3 tl cf measure">
  <a href="pitch-single.html" class="fw6 navy link dim lh-title">
    Moving and Packing Services
  </a>
  <p class="lh-copy f6 f5-m serif">
    Help with load and pack or unload and unpack boxes and possessions
  </p>
  <small class="mb5 db pt1 pb2"
    >Pitched by  <i
    data-feather="lock"
    class="bg-transparent navy w1 h1 v-mid"
    title="Private Account"
  ></i> <span class="i">AP</span> -
    <time>6 hours ago</time>
  </small>
</div>

<a
  class="cf absolute bottom-0 tc cf db w-100 f6 f5-m fw7 no-underline bg-black-05 navy ph4 pv3 mt4"
  href="pitch-single.html"
>
  More details
</a>
</article>
</section>
