<h4 class="f6 fw3 mb4 ttu tracked tc">
    <span class="db">How does it work?</span>
    <!-- <span class="db mt3 mw3 center ba bw2 b-dotted b--green"></span> -->
  </h4>

  <h3 class="f5 f3-ns mt0 pt5 pt4-ns pb2 tc">
    <!-- <i data-feather="truck" class="f6 f5-ns db v-mid center mb3"></i> -->
    1) <span class="pb1-ns lh-copy bb bw2 b--navy">Share your idea</span>
  </h3>


<section class="cf pv0 pv3-l flex flex-column flex-row-l items-top justify-between-l slider1">
  <article
  class="z-1 bg-white ba b--black-60 shadow fl mw6 mw9-m center tc ma2 ma3-l ba b--dashed br1 relative"
  >
  <div class="pv2 ph3">
    <h1 class="fw4 f6 ttu tracked">
      <i data-feather="truck" class="f6 f5-ns v-mid"></i> Service Pitch
    </h1>
  </div>
  <aside class="mv1 tc f6 f5-ns">
    <small class="dib pa2">
      <i data-feather="book-open" class="f6 f4-ns v-mid"></i>
      <a class="link navy dim" href="category-single.html">Home &amp; DIY</a>
    </small>
  
    <small class="dib pa2">
      <i data-feather="eye" class="f6 f4-ns v-mid"></i> 194 views
    </small>
  
    <small class="dib pa2 grow">
      <i data-feather="heart" class="f6 f4-ns v-mid" style="fill:red;"></i> 34
      interested
    </small>
  </aside>
  
  <div class="pa3 tl cf measure">
    <a class="fw6 navy link lh-title">
      Professional Painting Services
    </a>
    <p class="lh-copy f6 f5-m serif">
      Painting crew preps and paints home interior, home exterior, garage,
      deck or gazebo
    </p>
    <small class="mb5 db pt1 pb2"
      >Pitched by
      <img
        src="../etta/assets/user-avatar.png"
        class="relative dib v-mid w1 h1 pa1 br-100"
        alt="User Avatar"
      />
      <a class="link navy fw6" href="user-profile.html">Sarah</a> -
      <time>6 hours ago</time>
    </small>
  </div>
  <span
    class="cf absolute grow bottom-0 tc cf db w-100 f6 f5-m fw7 no-underline bg-white-05 navy pv3 mt4"
  >
  </span>
  </article>
</section>

<h3 class="f5 f3-ns mt0 pt5 pt4-ns pb2 tc">
<!-- <i data-feather="truck" class="f6 f5-ns db v-mid center mb3"></i> -->
2)
<span class="pb1-ns lh-copy bb bw2 b--green">Gather support</span>
</h3>

<section class="cf pt3 pb0 pb3-l flex flex-column flex-row-l items-top justify-between-l slider1">
<article
class="z-1 bg-white ba b--black-60 shadow fl mw6 mw9-m center tc ma2 ma3-l ba br1 relative"
>
<div class="pv2 ph3">
<h1 class="fw4 f6 ttu tracked">
<i data-feather="briefcase" class="f6 f5-ns v-mid"></i> Negotiation
</h1>
</div>
<div class="aspect-ratio aspect-ratio--16x9 mb3">
<div
class="aspect-ratio--object cover"
style="background:url(../etta/assets/exampleService1.jpg) center;"
></div>
</div>
<aside class="mv1 tc f6 f5-ns">
<small class="dib pa2 green">
<i data-feather="clock" class="v-mid"></i> 5 days left
</small>

<small class="dib pa2 green">
<i data-feather="crosshair" class="v-mid"></i> 20 people
</small>

<small class="dib pa2 green">
<i data-feather="user-check" class="v-mid"></i> 4 spaces free
</small>
</aside>

<div class="bg-moon-gray br-pill h1 overflow-y-hidden w-80 center mv2 mh3">
<div class="bg-green br-pill h1 shadow-1 w-75"></div>
</div>

<div class="pa3 tl cf measure">
<a href="offer-single.html" class="fw6 navy link dim lh-title"
>Personal Grocery Shopper</a
>
<p class="lh-copy f6 f5-m serif">
I can pick up your groceries from any shop in Clonmel and deliver them
to your door.
</p>
<small class="mb5 db pt1 pb2"
>Offered by
<i
  data-feather="check"
  class="bg-light-blue white pa1 br4 w1 h1 v-mid"
  title="Verified Account"
></i>
<a class="link navy fw6 bb b--green" href="vendor-single.html"
  >Michael</a
>
- <time>5 days ago</time> -
<span class="">2 comments</span>
</small>
</div>

<a
class="cf absolute bottom-0 tc cf db w-100 f6 f5-m fw7 no-underline bg-black-05 navy ph4 pv3 mt4"
href="offer-single.html"
>
See terms
</a>
</article>
</section>


<h3 class="f5 f3-ns mt0 pt5 pt4-ns pb2 tc">
<!-- <i data-feather="truck" class="f6 f5-ns db v-mid center mb3"></i> -->
3)
<span class="pb1-ns lh-copy bb bw2 b--pink">Make it a reality</span>
</h3>

<section class="cf pt3 pb0 pb3-l flex flex-column flex-row-l items-top justify-between-l slider1">
  <article
  class="z-1 bg-white ba b--black-60 shadow fl mw6 mw9-m center tc ma2 ma3-l ba br1 relative"
>
  <div class="pv2 ph3">
    <h1 class="fw4 f6 ttu tracked">
      <i data-feather="users" class="f6 f5-ns v-mid"></i> Group Offer    </h1>
  </div>
  <div class="aspect-ratio aspect-ratio--16x9 mb3">
    <div
      class="aspect-ratio--object cover"
      style="background:url(../etta/assets/exampleService3.jpg) center;"
    ></div>
  </div>
  <aside class="mv1 tc f6 f5-ns pink">
    <small class="dib pa2 ">
      <i data-feather="clock" class="f6 f4-ns v-mid"></i> 1 day left
    </small>

    <small class="dib pa2 ">
      <i data-feather="check-circle" class="f6 f4-ns v-mid"></i> Tier 2
    </small>

    <small class="dib pa2 ">
      <i data-feather="user-check" class="f6 f4-ns v-mid"></i> 3 spaces free
    </small>
  </aside>

  <div class="bg-moon-gray br-pill h1 overflow-y-hidden w-80 center mv2 mh3">
    <div class="bg-pink br-pill h1 shadow-1 w-90"></div>
  </div>

  <div class="pa3 tl cf measure">
    <a href="fund-single.html" class="fw6 navy link dim lh-title"
      >Cleaning Services</a
    >
    <p class="lh-copy f6 f5-m serif">
      Team of professionals performs house cleaning services to help customers
      maintain neat and fresh spaces
    </p>
    <small class="mb5 db pt1 pb2"
      >Offered by
      <a class="link navy fw6 bb b--pink" href="vendor-single.html"
        >Cater 2 U Cleaning Services</a
      >
      -
      <time>6 hours ago</time>
    </small>
  </div>

  <a
    class="cf absolute bottom-0 tc cf db w-100 f6 f5-m fw7 no-underline bg-black-05 navy ph4 pv3 mt4"
    href="fund-single.html"
  >
    Redeem
  </a>
</article>
</section>