<nav
  id="prim-nav"
  class="z-5 db dt-l w-100 pa2 pa3-ns ph5-l bb bt b--white-10 fixed bg-navy shadow border-box"
>
  <a
    class="dn db-l dtc-l v-mid mid-gray link w-25-l tc tl-l mb2"
    href="home.html"
    title="Home"
  >
    <img
      class="rotate shadow dib w32 h32 br-100 mr1 v-mid"
      src="../etta/assets/favicon-business.png"
      title="Piwalo Business logo"
    />
    <span class="dn dib-ns white-70 serif hover-white">Piwalo <span class="i fw1">Business</span></span>
  </a>
  <div class="db dtc-l v-mid w-100 w-75-l tc tr-l f6 f4-m f5-l">
    <a
      id="discover"
      class="link white dib ml0"
      href="home.html"
      title="Discover"
    >
      <i data-feather="paperclip" class=" v-mid"></i>
      Home
    </a>
    <a
      id="search"
      class="link white dib ml2 ml5-m ml4-l"
      href="search.html"
      title="Search"
    >
      <i data-feather="search" class=" v-mid"></i> Search</a
    >
    <a
      id="updates"
      class="link white dib ml2 ml5-m ml4-l"
      href="updates.html"
      title="Inbox"
    >
      <i data-feather="inbox" class="relative f6 f5-ns v-mid"></i>
      <span
        class="absolute bg-red white br4 pv1 ph2 pa1 f7"
        style="margin-left:-1.75rem; margin-top: -.75rem;"
        >7</span
      >
      <span class="dib">Updates</span>
    </a>
    <a
      id="account"
      class="link white dib ml2 ml5-m ml4-l"
      href="#"
      onclick="openNav()"
      title="Tools"
    >
      <i data-feather="align-right" class="relative f6 f5-ns v-mid"></i> Tools
    </a>
  </div>
</nav>
