  <article class="center mw6 hidden ba b--black-20 br1 mv4">
    <h1 class="f4 bg-black-05 mv0 pv2 ph3 tc lh-copy">
      <div class="dib pv1 ph2 mb1 fw4 f7 ttu tracked navy fw6 bn">
        <i data-feather="message-square" class="w1 h1 v-mid"></i>
        <span class="pb1 bb b--pink">Michael</span> replied to your comment</div>
    </h1>
    <div class="pa3 bt b--black-20">
      <p class="serif f6 f5-ns lh-copy measure mv2">
        "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
        aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum."
      </p>
      <aside class="center mt3 mb2">
        <a class="tc bb--w2 no-underline w-auto dim dib v-mid navy ba b--navy br2 ph3 pv2 mv2" onclick="commentsView();">
          <i data-feather="corner-down-right" class="v-mid"></i> Reply
        </a>
        <span class="tc bb--w2 no-underline w-auto dib v-mid black-50 bn b--navy br2 ph3 pv2 mv2" onclick="dismiss();">
          Dismiss
        </span>
      </aside>
      <div id="comment-box" class="measure mb3 f6 f5-ns sans-serif dn">
          <label for="comment" class="b dib mb2">Reply:</label> <span class="normal black-60"></span>
          <textarea rows="5" class="serif fw1 resize-v input-reset ba border-box b--navy br2 pa2 mb2 db w-100 measure b"></textarea>
        </div>
    </div>
  </article>