<article class="center mw6 hidden ba b--black-20 br1 mv4 shadow">
    <h1 class="f4 bg-black-05 mv0 pv2 ph3 tc">
      <div class="dib pv1 ph2 mb1 fw4 f7 ttu tracked green ba">Accepted</div>
    </h1>
    <div class="pa3 bt b--black-20">
      <h1 class="db f5 f4-ns mb2 lh-copy">
          <i data-feather="briefcase" class="v-mid"></i> 
          <a href="vendor-single.html" class="fw9 link navy bb bw2 b--green">Michael</a> has accepted your pitch!
      </h1>
      <p class="serif f6 f5-ns lh-copy measure mv2">
        Next step: negotiation! 


        They may choose to further assess demand and seek funding from the community, in which case you'll be top of the list!
        If the fund target isn't reached you will be fully refunded within 30 days.
      </p>
      </p>
      <aside class="f7 f6-ns center mt3 mb2">
        <a class="tc bb--w2 no-underline w-auto dim dib v-mid navy ba br2 ph2 ph3-ns pv2 mv2" href="offer-single.html">
          <i data-feather="check" class="v-mid"></i> Joined
        </a>
        <a class="tc bb--w2 no-underline w-auto dim dib v-mid navy ba br2 ph2 ph3-ns pv2 mv2" href="offer-single.html">
          View offer
          <i data-feather="chevron-right" class="v-mid"></i>
        </a>
      </aside>
      <span class="tc bb--w2 no-underline w-auto dib v-mid black-50 bn b--navy br2 ph3 pv2 mv2" onclick="dismiss();">
          Dismiss
        </span>
    </div>
  </article>

  <article class="center mw6 hidden ba b--black-20 br1 mv4 shadow">
      <h1 class="f4 bg-black-05 mv0 pv2 ph3 tc lh-copy">
        <div class="dib pv1 ph1 mb0 fw4 f7 ttu tracked green fw6 bn">
          Target demand reached!</div>
        <div class="bg-moon-gray br-pill h1 overflow-y-hidden w-80 center mv2 mh3">
          <div class="bg-green br-pill h1 shadow-1 w-100"></div>
        </div>
      </h1>
      <div class="pa3 bt b--black-20">
        <h1 class="db f5 f4-ns mb2 lh-copy">
          Thanks to your support,
          <a href="#0" class="fw9 link navy bb bw2 b--green">Personal Grocery Shopper</a> has reached it's target demand!
        </h1>
        <!-- <p class="serif f6 f5-ns lh-copy measure mv2">
          Your idea is now a group offer!
        </p> -->
        <aside class="f7 f6-ns center mt3 mb2">
          <a class="tc bb--w2 no-underline w-auto dim dib v-mid navy ba br2 ph2 ph3-ns pv2 mv2" href="offer-single.html">
            <i data-feather="check" class="v-mid"></i> Joined
          </a>
          <a class="tc bb--w2 no-underline w-auto dim dib v-mid navy ba br2 ph2 ph3-ns pv2 mv2" href="vendor-single.html">
            <img src="../etta/assets/vendor-avatar-2.png" class="relative dib v-mid w1 h1 pa1 br-100" alt="Vendor Avatar"> Michael
          </a>
          <a class="tc bb--w2 no-underline w-auto dim dib v-mid navy ba br2 ph2 ph3-ns pv2 mv2" href="offer-single.html">
            View offer
            <i data-feather="chevron-right" class="v-mid"></i>
          </a>
        </aside>
        <span class="tc bb--w2 no-underline w-auto dib v-mid black-50 bn b--navy br2 ph3 pv2 mv2" onclick="dismiss();">
            Dismiss
          </span>
      </div>
    </article>

