<article class="center mw6 hidden ba b--black-20 br1 mv4 shadow">
    <h1 class="f4 bg-black-05 mv0 pv2 ph3 tc lh-copy">
      <div class="dib pv1 ph2 mb1 fw4 f7 ttu tracked navy fw6 bn">
          <a class="link navy" href="vendor-single.html" title="Go to Vendor page">
              <img src="../etta/assets/vendor-avatar-6.png" class="dib w2 h2 br-100 v-mid" alt="Vendor logo"> <span class="pb1 bb b--pink">Marie</span>
              </a> replied to your comment</div>
    </h1>
    <div class="pa3 bt b--black-20">
      <p class="serif f6 f5-ns lh-copy measure mv2">
        "I can offer reflexology, acupuncture and Reiki."
      </p>
      <aside class="f7 f6-ns center mt3 mb2">
        <a class="tc bb--w2 no-underline w-auto dim dib v-mid navy ba b--navy br2 ph2 ph3-ns pv2 mv2" onclick="commentsView();">
          <i data-feather="corner-down-right" class="v-mid"></i> Reply
        </a>
      </aside>
      <span class="tc bb--w2 no-underline w-auto dib v-mid black-50 bn b--navy br2 ph3 pv2 mv2" onclick="dismiss();">
          Dismiss
        </span>
      <div id="comment-box" class="measure mb3 f6 f5-ns sans-serif dn">
          <label for="comment" class="b dib mb2">Reply:</label> <span class="normal black-60"></span>
          <textarea rows="5" class="serif fw1 resize-v input-reset ba border-box b--navy br2 pa2 mb2 db w-100 measure b"></textarea>
        </div>
    </div>
  </article>